[[extend 'layout.html']]

<style>
  [v-cloak] {
    display: none;
  }
</style>



<div class="section" id="vue-target">
  <div class="title">
    Postlandia
  </div>

  <div class="container is-widescreen">

    <div class="block">
      <i v-if="post_open">
        <div class="block">
          <div class="field">
            <p class="control">
              <textarea class="textarea" placeholder="Type your post here" v-model="new_post"></textarea>
            </p>
          </div>
          <button class="button is-primary" @click="add_post()">Post</button>
          <button class="button is-warning" @click="cancel_post()">Cancel</button>
        </div>
      </i>

      <i v-if="!post_open">
        <div class="block">
          <button class="button is-primary" @click="open_post()"><i class="fa fa-fw fa-plus"></i></button>
        </div>
      </i>
    </div>

    <div class="rows">
      <div v-for="post in posts.slice().reverse()" class="block">
        <div class="box" @mouseover="get_post_like_names(post.id)" @mouseleave="clear_post_like_names(post.id)">
          <div class="rows">
            <div class="row">
              {{post.content}}
            </div>

            <div class="row">
              {{post.name}}
            </div>

            <div class="row">
              <div class="columns">

                <div class="column">
                  <span class="icon">
                    <i v-if="post_liked_by_user[post.id]" class="fa fa-fw fa-thumbs-up"
                      @click="like_post(post.id, true)"></i>
                    <i v-if="!post_liked_by_user[post.id]" class="fa fa-fw fa-thumbs-o-up"
                      @click="like_post(post.id, false)"></i>
                  </span>

                  <span class="icon">
                    <i v-if="post_disliked_by_user[post.id]" class="fa fa-fw fa-thumbs-down"
                      @click="dislike_post(post.id, true)"></i>
                    <i v-if="!post_disliked_by_user[post.id]" class="fa fa-fw fa-thumbs-o-down"
                      @click="dislike_post(post.id, false)"></i>
                  </span>
                </div>

                <div class="column">
                  <div class="rows">
                    <div class="row">
                      {{post_like_names[post.id]}}
                    </div>
                    <div class="row">
                      {{post_dislike_names[post.id]}}
                    </div>
                  </div>
                </div>
                <div class="column">
                  <i v-if="user_email == post.user_email" @click="del_post(post.id)">
                    <span class="icon">
                      <i class="fa fa-fw fa-trash"></i>
                    </span>
                  </i>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let get_posts_url = "[[=XML(get_posts_url)]]";
  let add_post_url = "[[=XML(add_post_url)]]";
  let del_post_url = "[[=XML(del_post_url)]]";
  let get_user_email_url = "[[=XML(get_user_email_url)]]";
  let get_user_name_url = "[[=XML(get_user_name_url)]]";
  let get_likes_url = "[[=XML(get_likes_url)]]";
  let like_post_url = "[[=XML(like_post_url)]]";
  let dislike_post_url = "[[=XML(dislike_post_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]